@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
   
    <h1>
        <span class="txt-rotate"
              data-period="2000"
              data-rotate='[ "Welcome", "to", "my", "VS", "project" ]'></span>
    </h1>
    <h2>""What I've Done"" by Linkin Park, covered by my favorite indie band Halocene.</h2>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/Qwev0eGlMdw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<figure>
